<h2 class="title">Registrar usuario</h2>
<form class="form" (ngSubmit)="registrarUsuario()" #userForm="ngForm">
  <ul>
    <li>
      <label for="name">Nombre: (*)</label>
      <input type="text" id="name" name="name"
      [(ngModel)]="nuevoUsuario.name" required="">
    </li>
    <li>
      <label for="mail">Email: (*)</label>
      <input type="email" id="email" name="email" 
      required
      pattern="[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+(\.[-a-zA-Z0-9~!$%^&amp;*_=+}{'?]+)*@([a-zA-Z0-9_][-a-zA-Z0-9_]*(\.[-a-zA-Z0-9_]+)*\.([cC][oO][mM]))(:[0-9]{1,5})?"
      #email="ngModel"
      [(ngModel)]="nuevoUsuario.email"
      />
    </li>
      <div *ngIf="userForm.controls['email']?.errors?.['pattern']" class="error-message">El formato de correo no es valido</div>
    <li>
      <label for="password">Password: (*)</label>
      <input type="password" id="password" name="password" [(ngModel)]="nuevoUsuario.password" required minlength="3"/>
    </li>
    <div *ngIf="userForm.controls['password']?.errors?.['minlength']" class="error-message">La contraseña debe tener al menos 3 caracteres</div>
    <li>
      <label>Activo:</label>
      <div>
        <input type="radio" id="activoSi" name="activo" [(ngModel)]="nuevoUsuario.activo" [value]="true">
        <label for="activoSi">Sí</label>
      </div>
      <div>
        <input type="radio" id="activoNo" name="activo" [(ngModel)]="nuevoUsuario.activo" [value]="false">
        <label for="activoNo">No</label>
      </div>
    </li>
  </ul>
  <button type="submit" class="register-button" >Registrar</button>
  <button class="return-button" [routerLink]="['/login']">Volver</button>
</form>


