<div>
    <h2>Login</h2>
    <form class="form" (submit)="loguearUsuario()">
      <ul>
        <li>
          <label for="name">Nombre:</label>
          <input type="text" id="name" name="user_name" class="input-field" [(ngModel)]="logueoUsuario.name" />
        </li>
        <li>
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" class="input-field" />
        </li>
      </ul>
    </form>
    

    <button class="login-button" [routerLink]="['user-list']">Entrar</button>
    <router-outlet></router-outlet>
  </div>
