
.title {
    text-align: center;
  }
  

  .table-container {
    margin: 0 auto; 
    max-width: 800px; 
  }
  

  .table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black; 
    margin-top: 20px;
  }
  

  th, td {
    padding: 8px; 
  }
  
  th {
    background-color: #f2f2f2; 
    border: 2px solid black; 
  }
  
  td {
    border: 1px solid #ddd;
    border: 2px solid black;  
  }

  .action-button {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
  }
  

  .edit-button, .delete-button {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .delete-button {
    background-color: red;
    color: #fff;
  }
  
  
  .create-button{
    display: inline-block;
    margin-top: 20px;
    margin-right: 115px;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
  }

  .name-connection{
    text-align: right;
  }

  .exit-button{
    display: inline-block;
    margin-top: 20px;
    margin-right: 115px;
    padding: 10px 20px;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
  }

  .view-logs-button{
    display: inline-block;
    margin-top: 20px;
    margin-right: 115px;
    padding: 10px 20px;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
  }