<h1 class="title">Lista de Usuarios</h1>

<div class="table-container">
  <button class="create-button" [routerLink]="['/user-create']">Crear</button>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Password</th>
        <th>Activo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.password }}</td>
        <td>{{ user.activo ? 'Sí' : 'No' }}</td>
        <td>
          <button class="edit-button" [routerLink]="['/user-edit']">Editar</button>
          <router-outlet></router-outlet>

          <button class="delete-button" (click)="deleteUser(user._id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


